.status-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    vertical-align: middle; /* Align the dot with the text */
  }
  
  .online {
    background-color: green; /* Green for online status */
  }
  
  .offline {
    background-color: red; /* Red for offline status */
  }
  .userListItem__button {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 100%;
    min-width: 25%;
    margin: 10px;
    border: solid 2px var(--secondary-color);
  }
  .userListItem__button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }

  .userListItem__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }