/* src/components/Popup.css */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup__content {
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .popup__close-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup__close-btn:hover {
    background-color: var(--secondary-color);
  }
  
